<br>
<div class="span12">
  <h1 class="news-title"><%= render_news_title(@news) %></h1>
  <span class="news-author pull-right"><%= render_news_author(@news) %></span>
  <br>
  <br>
  <div class="news-content">
    <%= render_news_content(@news) %>
  </div>
</div>