<br>
<div class="span12">
<div class="row">
  <div class="offset1 span4">
    <%= image_tag("rhodes_big.png") %>
    <h3>Glenn W. Rhodes</h3>
    <h4>Managing Partner</h4>
    <h4><%= mail_to("Glenn@Rhodes-PC.com") %></h4>
  </div>
  <div class="offset1 span6">
    <h4>Bar/Court Admissions</h4>
    <ul>
      <li>State Bar of California</li>
      <li>State Bar of Texas</li>
      <li>FFederal Courts</li>
      <li>Federal Circuit Bar</li>
      <li>U.S. Supreme Court Bar</li>
      <li>U.S. Patent & Trademark Office</li>
      <li>Taipei Bar Association</li>
    </ul>
    <h4>Professional Organizations</h4>
    <ul>
      <li>American Bar Association</li>
      <li>American Intellectual Property Association</li>
      <li>American Society of International Law</li>
      <li>Federal Bar Association</li>
      <li>Licensing Executives Society</li>
    </ul>
    <h4>Education</h4>
    <ul>
      <li>J.D. University of Houston Law Center (1985) (With Honors)</li>
      <li>William Jewell College, B.A. Chemistry (1982) magna cum laude</li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="offset1 span11">
    <ul>
      <li>IP specialist with thirty years of experience.</li>
      <li>Trials before the U.S. district courts.</li>
      <li>Appeals & Oral argument before the federal circuit courts.</li>
      <li>Appeals & Oral argument before the U.S. Supreme Court.</li>
      <li>Expertise in all aspects of U.S. Patent & Trademark Office proceedings.</li>
      <li>Certified Arbitrator, Chinese Arbitration Association</li>
      <li>Recognized by Intellectual Asset Magazine as a top 250 Global IP Strategist.</li>
      <li>Listed in Euromoney Legal Media Group’s Guides to the World’s Leading Patent Law Experts.</li>
      <li>Listed in the International Who’s Who of Patent Law Experts.</li>
      <li>Past co-author and editor of the PATENT LAW HANDBOOK (West Publishing).</li>
      <li>Expert in cross-border IP litigation (Europe and Asia Jurisdictions).</li>
      <li>Twenty years of experience in Asia IP issues.</li>
    </ul>
  </div>
</div>
</div>