<br>
<div class="span12">
<div class="row">
  <div class="offset1 span4">
    <%= image_tag("heather_big.png") %>
    <h3>Heather Fan</h3>
    <h4>Shareholder & Executive Director</h4>
    <h4><%= mail_to("Heather@Rhodes-PC.com") %></h4>
  </div>
  <div class="offset1 span6">
    <h4>Bar/Court Admissions</h4>
    <ul>
      <li>California</li>
      <li>Federal Courts</li>
      <li>Federal Circuit Bar</li>
      <li>U.S. Patent & Trademark Office</li>
    </ul>
    <h4>Education</h4>
    <ul>
      <li>University of California, Davis School of Law, J.D. (2001)</li>
      <li>University of California, Berkeley, B.S. Chemical Engineering (1998)</li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="offset1 span11">
    <ul>
      <li>IP attorney with over ten years of experience.</li>
      <li>Experience in patent litigation, including jury trials before the U.S. district courts.</li>
      <li>Representation of clients before the U.S. Patent & Trademark Office. </li>
      <li>Working with both Fortune 500 and “start-up” companies in a broad range of technologies, including medical devices, automotive systems, liquid crystal displays, semiconductor manufacturing, querying databases, and chemical production. </li>
      <li>Experience with Asia IP issues.</li>
      <li>Patent portfolio development, evaluation & management.</li>
      <li>Industry experience as a chemical engineer with a pharmaceutical company. </li>
    </ul>
  </div>
</div>
</div>