<div class="span12">
  <section class="welcome-message">
    <div class="container">
      <div class="hero-unit">
        <h3>Adding the Value in Your Innovation.</h3>
      </div>
    </div>
  </section>
</div>
<div class="span12">
  <%= render partial: "common/slide" %>
</div>
<div class="span12">
  <%= render partial: "common/team" %>
</div>
<%= content_for :javascripts do %>
<script type="text/javascript">
$(document).ready(function () {
  $('#myCarousel').oneCarousel({
    easeIn: 'rotateIn',
    interval: 5000,
    pause: 'hover'
  });
  
  $("a[rel^='prettyPhoto']").prettyPhoto();
});
</script>
<% end %>