<div class="span12">
  <section class="welcome-message">
    <div class="container">
      <div class="hero-unit">
        <h3>Adding the Value in Your Innovation.</h3>
      </div>
    </div>
  </section>
</div>
<div class="span12">
  <%= render partial: "common/slide" %>
</div>
<!-- <div class="span12">
  <%= render partial: "common/team" %>
</div>
<div>
  <%= render partial: "common/what_we_do" %>
</div> -->
<div class="span12" id="contact">
  <%= render partial: "common/contact_us" %>
</div>