<div class="row">
  <div class="span12">
    <h3>Contact Us</h3>
  </div>
  <div class="span6">
    <%= render partial: "common/contact_form" %>
  </div>
  <div class="span3">
    <%= image_tag("tpe_location.png") %>
    <h5><b>Taipei, Taiwan</b></h5>
    <p>Tel/ 886-2-2767-7150</p>
    <p>Fax/ 886-2-2767-9313</p>
    <br>
    <p>No.17, Ln. 155, Sanmin Rd.,</p>
    <p>Songshan Dist., Taipei City 105,</p>
    <p>Taiwan (R.O.C)</p>
  </div>
  <div class="span3">
    <%= image_tag("sf_location.png") %>
    <h5><b>San Francisco, United States</b></h5>
    <p>Tel/ 1-415-293-8185</p>
    <p>Fax/ 1-415-477-4003</p>
    <br>
    <p>One Market Street, Spear Tower,</p>
    <p>Suite 3600, San Francisco,</p>
    <p>California, United States 94105</p>
  </div>
</div>