<div class="row">
  <div class="span12">
    <h3>Events <span> - <%= @display_date %></span></h3>
  </div>
  <div class="span12">
    <ul>
      <% @events.each do |event| %>
      <li>
        <%= link_to(event.title, event_path(event.url), {:format => :pdf}, :target => :blank) %>
        <%= link_to("Download PDF", download_event_path(event.url), :target => :blank, :class => "btn btn-warning pull-right") %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="span12">
    <%= link_to("more event ...", events_path, :class => "pull-right btn btn-info") %>
  </div>
</div>