<div class="row">
  <div class="span12">
    <h3>Events <span> - <%= @display_date %></span></h3>
  </div>
  <div class="span12">
    <ul>
      <% @events.each do |event| %>
      <li>
        <%= link_to(event.title, event_path(event.url), {:format => :pdf}, :target => :blank) %>
        <%= link_to("Download PDF", download_event_path(event.url), :target => :blank, :class => "btn btn-warning pull-right") %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="span12">
    <div class="btn-group pull-right">
      <%# if @events_has_previous %>
        <%# link_to("Previous", root_path(:month => @previous_month), :class => "btn btn-info") %>
      <%# end %>
      <%# if @events_has_next %>
        <%# link_to("Next", root_path(:month => @next_month), :class => "btn btn-info") %>
      <%# end %>
    </div>
  </div>
</div>