<div class="row">
  <div class="span12">
    <h3>Legal News and Updates <span> - <%= @display_date %></span></h3>
  </div>
  <div class="span12">
    <ul>
      <% @news.each do |news| %>
      <li><%= link_to(news.title, news_path(news), :target => :blank) %></li>
      <% end %>
    </ul>
  </div>
  <div class="span12">
    <%= link_to("more news ...", news_index_path, :class => "pull-right btn btn-info") %>
  </div>
</div>