<div class="row">
  <div class="span12">
    <h3>Legal News and Updates <span> - <%= Date.today.strftime("%B") %> <%= Date.today.strftime("%Y") %></span></h3>
  </div>
  <div class="span12">
    <ul>
      <% @news.each do |news| %>
      <li><%= link_to(news.title, news_path(news), :target => :blank) %></li>
      <% end %>
    </ul>
  </div>
</div>