<div class="row">
  <div class="span12">
    <h3>Our People</h3>
  </div>
  <div class="span3">
  </div>
  <% @people.each do |person| %>
    <div class="span3">
      <%= image_tag(person.thumb_photo.url, :width => 210, :height => 210) %>
      <h4><%= link_to(person.name, person_path(person), :target => "_blank") %></h4>
      <p><%= person.title %></p>
    </div>
  <% end %>
</div>