<div class="row">
  <div class="span12">
    <h3>Our People</h3>
  </div>
  <div class="offset3 span3">
    <%= image_tag("rhodes.png", :width => 210, :height => 210) %>
    <h4><%= link_to("Glenn W. Rhodes", pages_glenn_path, :target => "_blank") %></h4>
    <p>Managing Partner</p>
    <p>Bar/Court Admissions</p>
    <p>State Bar of California</p>
    <p>State Bar of Texas</p>
    <p>Federal Courts</p>
    <p>Federal Circuit Bar</p>
    <p>U.S. Supreme Court Bar</p>
    <p>U.S. Patent & Trademark Office</p>
    <p>Taipei Bar Association</p>
  </div>
  <div class="span3">
    <%= image_tag("heather.png", :width => 210, :height => 210) %>
    <h4><%= link_to("Heather Fan", pages_heather_path, :target => "_blank") %></h4>
    <p>Shareholder & Executive Director</p>
    <p>Bar/Court Admissions</p>
    <p>California</p>
    <p>Federal Courts</p>
    <p>Federal Circuit Bar</p>
    <p>U.S. Patent & Trademark Office</p>
  </div>
</div>