<section class="welcome-message">
  <div class="container">
    <div class="hero-unit">
      <h3>"The secret of getting ahead is getting started." </h3>
      <p class="right">- Mark Twain</p>
    </div>
  </div>
</section>