<section class="slider">
  <div class="container">
    <div class="well">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("slide_0.jpg") %>
            <div class="carousel-caption animation">
              <!-- <h3 data-animate="fadeInLeftBig" class="caption-white animate0" style="opacity: 0;">Fully Responsive Layout</h3>
              <p data-animate="fadeInRightBig" class="caption-white-small animate1" style="opacity: 0;">Sed posuere consectetur est at lobortis.</p> -->
            </div> 
          </div>
          
        </div>
        <!-- Carousel nav -->
        <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev"><i class="icon-chevron-left"></i></a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next"><i class="icon-chevron-right"></i></a> -->
      </div>
    </div>               
  </div>
</section>