<div class="row">
  <div class="span12 margin-block"></div>
</div>
<div class="row">
  <div class="span6">
    <%= image_tag("bulb.png") %>
  </div>
  <div class="span6">
    <h3>What Services We Provide?</h3>
    <p>Rhodes Attorneys at Law P.C. (Rhodes P.C.) is a U.S. firm based in San</p>
    <p>Francisco and Taipei and is co-owned by Glenn W. Rhodes and</p>
    <p>Heather H. Fan.  Drawing on many years of experience in major U.S. </p>
    <p>international firms, Rhodes P.C. specializes in:</p>
    <br>
    <ul>
      <li>U.S. Patent & Trademark Office Proceedings</li>
      <li>Civil Litigation, Including Trials and Appeals</li>
      <li>IP Consultation & Strategy Development</li>
      <li>Cross-Border IP Issues & Disputes</li>
      <li>Contracts & Licensing</li>
      <li>Arbitration & Other ADR Procedures</li>
      <li>Trademarks & Branding</li>
      <li>Legal Outsourcing</li>
    </ul>
    <br>
    <p>The firm takes advantage of the latest technology to provide the</p>
    <p>highest quality legal services in the most cost-effective manner.</p>
  </div>
</div>